
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e3f0ff; /* Azul muy claro */
    color: #222;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Normalización inicial CSS */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



.accessible-form-ui {
    display: flex;
    flex-direction: row;
    gap: 15%;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;                                                                       
    padding: 2rem 1.5rem;
    border: #007bff 2px solid; /* Borde azul */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */

}

.form-ui{
    padding: 0px;
}

label{
    display: block;
    margin: 10px 0; 
    font-weight: bold;
    font-size: 1.5rem;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
}


input:focus {
    border-color: #007bff;
    outline: none;
    font-size: 1rem;
}

.input-password-wrapper {
    position: relative;
    width: 100%;
}
.input-password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono */
}

.icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.progress-circle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0
}


.progress-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.checklist{
    width: 100%;
    background-color: #f8f9f8; /* Fondo gris claro */  
    border: 1px solid #007bff; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
}

.checklist ul{
    width: 100%;
    list-style: none;
    padding: 0; 
    margin: 0;  
    display: flex;
    flex-direction: column;
    align-items: center
}

ul li{
    padding: 10px;
    font-size: 1.5rem; /* Tamaño igual que labels y consistente */
    font-family: inherit; /* Hereda la fuente general */
    font-weight: 500;
}

.completed{
    text-decoration: line-through; /* Texto tachado */
    color: #28a745; /* Verde */

}