/* Normalización inicial CSS */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #222;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button, input, textarea, select {
    font: inherit;
}

/* Fin de normalización inicial. Puedes empezar tu diseño a partir de aquí. */

/*Inicia diseño del primer testimonio.*/
.testimonial-card-1 {
    width: 500px;
    height: 180px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: .5rem;
    margin: 50px auto;
    padding: 15px;
}


.photographie-card-1 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23272f; /* Gris oscuro casi negro */
    color: #fff;
    padding-left: 1.2rem;
    border-radius: 25px;
}

.author-1 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

.jobTitle-1 {
    font-style: italic;
    color: #666;
}

.message-1 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
    color: #f3f3f3;
}

/*Termina el diseño del primer testimonio.*/